﻿/* Write your custom CSS here */
/*********************************************************************************Helper CSS Start********************************************************************************************/
.curptr { 
  cursor: pointer; 
}

.center-align{
	text-align:center !important;
}

.right-align{
	text-align:right !important;
}

.left-align{
	text-align:left !important;
}

.padding-b10{

    padding-bottom: 10px;
}

.font16{

    font-size: 16px;
}

.font14{

    font-size: 14px;
}

.fontBold{

    font-weight: bold;
}


.bg-pink{

	background-color: #EC407A;
	border-color: #EC407A;
	color: #fff;
}

.label-pink{

	background-color: #EC407A;
	border-color: #EC407A;
	color: #fff;
}

.label-green{

	background-color: #4A7AC3;
    border-color: #4A7AC3;
    color: #fff;
}

.bg-yellow{

	background-color: #F0AB1F;
	border-color: #F0AB1F;
	color: #fff;
}

.label-yellow{

	background-color: #F0AB1F;
	border-color: #F0AB1F;
	color: #fff;
}

.label-brown {
  background-color: #795548;
  border-color: #795548;
  color: #fff;
}

.bg-default{

	background-color: #999999;
	border-color: #999999;
	color: #fff;
}

.colorWhite{
	color: #fff;
}

.colorWhite:hover{
	color: #fff;
}

.floatLeft{

	float: left;
}

.floatRight{

	float: right;
}

.whiteBorder{

	border-color: #fff;
}

.p-t10{
	padding-top: 10px;
}


.classDelete{

	color: #e60d0d; 
	cursor: pointer;
}


.classHotelImages{

	height: 120px !important;
	width: 120px !important;
}

.classThumbanil{

	width: 100px;
	/*height: 100px;*/
	display: inline-block;
}

.classThumbanil img{

	height: 100px;
}

.classDisplayInlineBlock{

	display: inline-block;
}

.colorRed{

	color: #f90303;
}

.colorGreen{

	color: #027e02;
}

.classWidth80{

	width: 80px !important;
}

.margin-right6{

	margin-right: 6px !important;
}

.padding4{

	padding: 4px !important;
}

.padding15{

	padding: 15px !important;
}

.padding-r-l15{
	
	padding: 0px 15px !important;	
}

.ui-datepicker{

	z-index: 100000 !important;
}

.dz-image img{

	height: 120px !important;
	width: 120px !important;
}

label.error {
    
    margin-top: 7px;
	margin-bottom: 7px;
	display: block;
	color: #F44336;
	position: relative;
	padding-left: 10px;
} 

/*-----------------------------------------------------------------------------------------------------------------------------------*/